<div class="section center-text" class="background">
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <div class="form-group">
          <label class="label-1" for="movieName"><strong>Title</strong></label>
          <input type="text" class="form-control" id="movieName" [(ngModel)]="movieName">
        </div>
        <div class="form-group">
          <label class="label-1" for="movieName"><strong>Year</strong></label>
          <input type="number" class="form-control" id="movieName" [(ngModel)]="movieYear">
        </div>
        <button type="submit" class="" (click)="onSaveMovie()">Save Movie</button>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
  <br>
</div>
