.background {
  background: url(../../assets/images/background_wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}

table td {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

table th {
  background-color: rgba(0,0,0,0.5);
  color: orange;
}

.label-1 {
  border-left: 1px solid orange;
  border-right: 1px solid orange;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 2px 5px;
  text-align: center;
}
