.background {
  background: url(../../assets/images/background_wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}

.label-1 {
  border-left: 1px solid orange;
  border-right: 1px solid orange;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 2px 5px;
  text-align: center;
}

.form-group {
  color: white;
}

button {
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
  padding: 0px 10px;
  outline: none;
}

.center-text {
  text-align: center;
}

input {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

input:focus {
  -webkit-text-fill-color: white;
  background-color: rgba(0,0,0,0.5);
}

input:disabled {
  background-color: rgba(0,0,0,0.5);
  color: white;
}
